$base-green: #00ac85;
$sweet-sans-medium: "sweet-sans-pro-medium", sans-serif;

* {
  overflow-x: hidden;
}
.newsletterSection {
  background-color: #f6fff7;
}

.newsletter__newsletterHeading {
  font-size: 0.9vw;
  text-align: center;
  font-family: Gadugi;
  font-size: 13px;
  letter-spacing: 0.32em;
  color: #303030;
  padding-top: 6.38vw;
}

.newsletter__firstHeading {
  text-align: center;
  font-size: 3.38vw;
  margin-top: 2.6vw;
}

.newsletter__firstHeading--subscribe {
  font-family: "Fraunces", serif;
  font-style: italic;
}

.newsletter__firstHeading--toGet,
.newsletter__secondHeading--latestUpdates {
  font-family: "Helvetica", serif;
}

.newsletter__firstHeading--toGet {
  margin-left: 0.97vw;
}

.newsletter__secondHeading--latestUpdates {
  font-size: 3.38vw;
  text-align: center;
  margin: 0;
}

.newsletter__emailPart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.97vw;
  padding-bottom: 9.3vw;
}
.newsletter__emailBox {
  height: 3.12vw;
  width: 21.48vw;
  border: 1px solid $base-green;
  font-family: $sweet-sans-medium;
  padding-left: 2.01vw;
  font-size: 0.97vw;

  &:focus {
    outline: 0.5px ridge $base-green;
  }
}

.newsletter__subscribeBtn {
  border: none;
  height: 3.38vw;
  width: 11.71vw;
  background-color: $base-green;
  margin-left: 3.25vw;
  color: #fff;
  font-size: 0.97vw;
  font-family: $sweet-sans-medium;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);

  #newsletter__subscribeBtn--arrow {
    width: 0.55vw;
    height: 0.94vw;
    padding-top: 0.15vw;
    padding-right: 0.84vw;
  }

  &:focus {
    outline: 0px;
  }
  &:hover {
    animation: moveText 0.1s ease-out both alternate;
    box-shadow: 0 4px 8px 0 rgba(0, 172, 133, 0.2),
      0 6px 20px 0 rgba(0, 172, 133, 0.29);
  }
  &:hover > #newsletter__subscribeBtn--arrow {
    position: absolute;
    animation: moveArrow 0.1s ease-out both alternate;
  }
}

@keyframes moveArrow {
  0% {
    padding-left: 0%;
  }
  100% {
    padding-top: 0.28vw;
    padding-left: 6%;
  }
}

@keyframes moveText {
  0% {
    text-align: center;
  }
  100% {
    padding-right: 0.65vw;
  }
}

// Error Message
.newsletter__errMessage {
  height: 25px;
  width: 20%;
  color: red;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 420px;
  top: 55.3%;
  font-size: 0.91vw;
  font-family: $sweet-sans-medium;
}

//Success Message
.newsletter__successMessage--background {
  background-color: rgb(207, 207, 207);
  opacity: 0.2;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
}

.newsletter__successMessage {
  background-color: #fffdf2;
  width: 45vw;
  height: 68vh;
  position: fixed;
  top: 15%;
  left: 27%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.scale-in-top {
  z-index: 1;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.newsletter__successMessage--text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6vw;
  color: $base-green;
  text-align: center;
  position: relative;
  top: 75%;
}

.newsletter__successMsg--closeBtn {
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #eef5df;
  background-color: #ff5248;
  border-radius: 50%;
  left: 91%;
  top: 5%;

  &::before,
  &::after {
    position: absolute;
    top: 11px;
    left: 5px;
    width: 16px;
    height: 3px;
    content: "";
    background-color: #eef5df;
    display: none;
    display: block;
  }
  &::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:hover {
    cursor: pointer;
  }
}
