@font-face {
  font-family: Gadugi;
  src: url("./fonts/gadugi-normal.ttf") format("truetype");
  font-weight: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap");
@font-face {
  font-family: sweet-sans-pro-medium;
  src: url("./fonts/SweetSansProMedium.otf");
  font-weight: normal;
}
@font-face {
  font-family: sweet-sans-pro-bold;
  src: url("./fonts/SweetSansProBold.otf");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
